<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset = @UTF-8>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../static/dce.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--colori : #59b5c9 - #ff2a4a-->
</head>
<body>
<div id="tutorial">
    <button id='close-button' onclick="Close()">Close</button>
</div>
<div class=container>
    <!--NAV-->
    <nav id="nav-container">
        <img id="sapienzalogo" src="../static/media/sapienza.png">
        <img id="dcelogo" src="../static//media/dcelogo.png">   
        <img id="dcetitle" src="../static/media/dcetitle.png"> 
        <button id='nav-button' onclick="Open()">How To Use</button>     
    </nav>      
    
    <!--PCA-->
    <div id="pca-container">
        <div id="title-pca"> 
            <div id="pca-id"> 
                <div class="avatar" data-tooltip="
                V1 : The following visualization shows the Principal Component Analsys (PCA) over your data.
                Move the mouse over the dots to identify the sample and use the scroll of your mouse to zoom in and zoom out.
                You can then select the top genes ( genes that contribute the most to the first principal component) to be displayed
                in the other visualizations such as V2 and V3.
                CLASS : HC (Healthy Control) - PAAD (Pancreatic Adenocarcinoma) "></div>
                V1 
            </div>
            <div id="pca-title-question">
                Principal Component Analysis (PCA) - Sample View 
            </div>
            <div id="top-genes">Select top genes : </div>
        </div>
        <div id="legend-pca">
            <div class='legend-title-pca'>Class</div>
            <div class='legend-scale-pca'>
                <ul class='legend-labels-pca'>
                    <li><span style='background:#619CFF;'></span>HC</li>
                    <li><span style='background:#F8766D;'></span>PAAD</li>
                </ul>
            </div>
            <hr>
            <div class='legend-scale-pca'>
                <ul class='legend-labels-pca'>
                    <li><img src="../static/media/scroll.png" id="scroll">ZOOM</li>
                </ul>
            </div>
            

        </div>
        <div id="pca"></div>
    </div>

    <!--DCE-->
    <div id="dce-container">
        <div id="title-dce"> 
            <div id="dce-id"> 
                <div id="dce-quesiton" class="avatar" data-tooltip="V4 : This Visualization shows the results of Differential Co-Expression Analysis
                over the data selected from V2 and V3. In case no genes were selected from V2 and V3 , all the top genes will be used. The resulting genes
                are the genes with a degree above the 90th percentile. You can download the gene names by using the respective light blue botton on the right,
                or download the full network , of all genes (not necessarly with a degree above the 90th percentile), clicking on the black button on the right. "></div>
                V4 
            </div>
            <div id="dce-title-question">
                DCE analysis - genes with degree above 90th percentile
            </div>

            <div id="gene-button" type="submit">
                <button id="dcegene" type="submit"> <i class="fa fa-download"></i> Genes </button>
            </div>
            <div id="network-button" type="submit">
                <button id="dcenetwork" type="submit"> <i class="fa fa-download"></i> Network </button>
            </div>
            <div id="dce-button">
                <button id="dcebutton" > Compute DCE </button>
            </div>
            
        </div>
        <div id="legend-dce">
            <div class='legend-title-dce'>Regulation</div>
            <div class='legend-scale-dce'>
                <ul class='legend-labels-dce'>
                    <li><span id = "scater-span" style='background:#F8766D;'></span>Up </li>
                    <li><span id = "scater-span" style='background:#808080;'></span>Non-DE</li>
                    <li><span id = "scater-span" style='background:#59b5c9;'></span>Down </li>
                </ul>
            </div>
        </div>
        <div id="dce"> </div>
    </div>
    
    <!--GENESCATTER-->
    <div id="scatter-container">
        <div id="title-scatter"> 
            <div id="genescatter-id"> 
                <div class="avatar" data-tooltip="V2 : The following visualization shows the log-fold change against the log-counts per million
                of the top genes selected from V1. Brush over the chart area in order to highlight and select the genes of interest,
                you can further interact with V3 to further filter your genes."></div>
                V2
            </div>
            <div id="genescatter-t">
                Mean-Difference Plot (PAAD vs HC) - Gene View
            </div>
        </div>
            <div id="legend-scatter">
                <div class='legend-title-scatter'>Regulation</div>
                <div class='legend-scale-scatter'>
                    <ul class='legend-labels-scatter'>
                        <li><span id = "scater-span" style='background:#F8766D;'></span>Up</li>
                        <li><span id = "scater-span" style='background:#808080;'></span> Non-DE</li>
                        <li><span id = "scater-span" style='background:#59b5c9;'></span>Down</li>
                    </ul>
                </div>
                <div class='legend-title-scatter'>Interaction</div>
                <div class='legend-scale-scatter'>
                    <ul class='legend-labels-scatter'>
                        <li><span id = 'legend-scatter-selection-scatter' style='border-color:black;'></span>Selected</li>
                        <li><span id = 'legend-scatter-selection-scatter' style='border-color:red;'></span>V3 Selection</li>
                    </ul>
                </div>
            </div>
        <div id="genescatter"></div>
    </div>

    <!--PARALLEL-->
    <div id="parallel-container">
        <div id="title-parallel">
            <div id="parallel-id"> 
                <div class="avatar" data-tooltip="V3 : The following visualization let you filter the genes by their results on the Differential Expression Analysis. 
                Each line is a gene, and its color change based on interaction. Green = Selected , Gray = Discarted, Red = Gene selected in both visualizations V2 and V3.
                Brush on one or more axis to filter the genes that you need. You can further interact with V2 to further filter your genes."></div>
                V3
            </div> 
            <div id="parallel-t">
                 Genes - Differential Expression View
            </div>
            <div id="parallel-button">
                <button id="parallelReset"> <i class="fa fa-undo"></i> Reset Selection </button>
            </div>
        </div>
        <div id="legend-parallel">
            <div class='legend-title-parallel'></div>
            <div class='legend-scale-parallel'>
                <div class='legend-title-parallel'>Interaction</div>
                <div class='legend-scale-parallel'>
                    <ul class='legend-labels-parallel'>
                        <li><span style='background:#3DBD35;'></span> Active Selection </li>
                        <li><span style='background:#ddd;'></span> Inactive Selection </li>
                        <li><span style='background:red;'></span>V2 Selection</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="parallel"></div>
    </div>  

    <!--TABLE-->
    <div id="tabella-container">
        
        <div id="title-tabella"> 
            <div id="tabella-id">
                <div class="avatar" data-tooltip="The following table shows the selected genes from the following Visualizations :
                V2 and V3."></div>
            </div>
            <div id="tabella-t">
            Ensembl to symbol table
            </div>
        </div>

        <div id="tabella-arity"></div>
        <div id="tabella-titles"></div>
        <div id="tabella"></div>
        
    </div>
    

</div>

</body>
</html>